<script>
	// window.currentSlideIs = 0;
	window.galleryLocal = [
		{
			"src": 'assets/img/gallery/image-1.jpg',
			'thumb': 'assets/img/gallery/image-1t.jpg',
			'subHtml': '',

		}, {
			'src': 'assets/img/gallery/image-2.jpg',
			'thumb': 'assets/img/gallery/image-2t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-3.jpg',
			'thumb': 'assets/img/gallery/image-3t.jpg',
			'subHtml': "<h4>Проходят коллективный квест</h4><p>Спрятала для них клад, должны найти, коммуницируя на английском</p>",

		}, {
			'src': 'assets/img/gallery/image-4.jpg',
			'thumb': 'assets/img/gallery/image-4t.jpg',
			'subHtml': "<h4>Клад найден</h4><p>Довольны не все )))</p>",

		}, {
			'src': 'assets/img/gallery/image-5.jpg',
			'thumb': 'assets/img/gallery/image-5t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-6.jpg',
			'thumb': 'assets/img/gallery/image-6t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-7.jpg',
			'thumb': 'assets/img/gallery/image-7t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-8.jpg',
			'thumb': 'assets/img/gallery/image-8t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-9.jpg',
			'thumb': 'assets/img/gallery/image-9t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-11.jpg',
			'thumb': 'assets/img/gallery/image-11t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-10.jpg',
			'thumb': 'assets/img/gallery/image-10t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-12.jpg',
			'thumb': 'assets/img/gallery/image-12t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-13.jpg',
			'thumb': 'assets/img/gallery/image-13t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-14.jpg',
			'thumb': 'assets/img/gallery/image-14t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-15.jpg',
			'thumb': 'assets/img/gallery/image-15t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-16.jpg',
			'thumb': 'assets/img/gallery/image-16t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-17.jpg',
			'thumb': 'assets/img/gallery/image-17t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-18.jpg',
			'thumb': 'assets/img/gallery/image-18t.jpg',
			'subHtml': "",

		}, {
			'src': 'assets/img/gallery/image-19.jpg',
			'thumb': 'assets/img/gallery/image-19t.jpg',
			'subHtml': "",

		}
	]
</script>