<style>
	.preloader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 999;
		opacity: 1;
		background-color: #fff;
		animation: preloader 2s ease 1;
		animation-delay: 1s;
		animation-fill-mode: forwards;
	}

	.connect,
	.connect-mobile {
		right: -200px;
		transition: right .8s cubic-bezier(0.215, 0.61, 0.355, 1);
		will-change: right;
	}

	@keyframes preloader {
		0% {
			background-color: #fff;
		}
		30% {
			background-color: #2e183b;
		}
		99% {
			opacity: 0;
		}
		100% {
			opacity: 0;
			display: none;
			visibility: hidden;
		}
	}

	h1,
	.h1,
	h2,
	.h2 {
		font-weight: bold;
		color: #000;
		margin-bottom: 1.875rem;
	}

	h1 {
		margin-top: 1.875rem;
	}

	.hero-img {
		z-index: 3;
		position: absolute;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
	}

	.img-cover,
	header,
	.hero,
	hero .abs-full {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		overflow: hidden;
	}

	.hero {
		height: 90vh;
		position: relative;
		background-color: #22183b;
	}

	.hero .grid-container {
		z-index: 2;
		position: relative;
	}

	.hero .abs-full {
		z-index: 1;
		transition: opacity, transform 1s, 0.4s, 1s;
		will-change: opacity, transform;
		opacity: 0;
		transform: scale(1.1);
	}

	@media screen and (min-width: 90em) {
		.hero-img {
			width: 50vw;
			max-width: 40rem;
		}
	}

	.main-nav-ctrl {
		height: 2.5rem;
		width: 5.9375rem;
		position: absolute;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		z-index: 99;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		/* transform: translateY(-50%); */
		right: 0.1875rem;
	}

	@media print,
	screen and (min-width: 64em) {
		.main-nav-ctrl {
			width: 6.5625rem;
		}
	}

	@media print,
	screen and (min-width: 64em) {
		.main-nav-ctrl {
			background: transparent;
		}
	}

	.off-canvas {
		will-change: transform;
	}

	#main-nav-ctrl span {
		display: block;
		position: absolute;
		height: 1px;
		width: 1.25rem;
		background: #fff;
		border-radius: 9px;
		opacity: 1;
		right: 0.625rem;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		/* transition: 0.25s ease-in-out; */
	}

	#main-nav-ctrl span:nth-child(1) {
		top: 0.8125rem;
	}

	#main-nav-ctrl span:nth-child(2),
	#main-nav-ctrl span:nth-child(3) {
		top: 1.25rem;
	}

	#main-nav-ctrl span:nth-child(4) {
		top: 1.6875rem;
	}

	#main-nav-ctrl[aria-expanded="true "] span:nth-child(1) {
		top: 0.8125rem;
		width: 0%;
	}

	#main-nav-ctrl[aria-expanded="true "] span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#main-nav-ctrl[aria-expanded="true "] span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#main-nav-ctrl[aria-expanded="true "] span:nth-child(4) {
		top: 1.6875rem;
		width: 0%;
	}

	#main-nav-ctrl[aria-expanded="false "]~.header__close-handler {
		display: none;
	}

	#main-nav-ctrl[aria-expanded="true "]~.header__open-handler {
		display: none;
	}

	#main-nav-ctrl[aria-expanded="true "]~.header__close-handler {
		display: block;
	}

	.header__open-handler,
	.header__close-handler {
		margin-right: 3.125rem;
	}

	header {
		background-image: url(assets/img/nightsky-header-s.jpg);
		background-position: 0 0;
		color: #fff;
		height: 4.375rem;
		background-color: #F4F4F4;
		position: fixed;
		width: 100%;
		z-index: 10;
	}

	header:after {
		content: '';
		background: linear-gradient(to bottom, black 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
		z-index: 1;
	}

	@media print,
	screen and (min-width: 64em) {
		header {
			height: 4.375rem;
		}
	}

	header .cell {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	header .grid-container {
		position: relative;
		z-index: 2;
	}

	.dropdown-pane {
		display: none;
	}

	#space {
		z-index: 2;
	}

	#space,
	.stars {
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.stars {
		background-image: radial-gradient(2px 2px at 20px 30px, #ff00de, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 50px 160px, #ff00de, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 90px 40px, #28fdff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 130px 80px, #28fdff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 160px 120px, #fff, rgba(0, 0, 0, 0));
		background-repeat: repeat;
		background-size: 200px 200px;
		-webkit-animation: zoom 4s infinite;
		animation: zoom 4s infinite;
		opacity: 0;
		will-change: transform;
	}

	.stars:nth-child(1) {
		background-position: 50% 50%;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}

	.stars:nth-child(2) {
		background-position: 20% 60%;
		-webkit-animation-delay: 1s;
		animation-delay: 1s;
	}

	.stars:nth-child(3) {
		background-position: -20% -30%;
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
	}

	.stars:nth-child(4) {
		background-position: 40% -80%;
		-webkit-animation-delay: 3s;
		animation-delay: 3s;
	}

	.stars:nth-child(5) {
		background-position: -20% 30%;
		-webkit-animation-delay: 4s;
		animation-delay: 4s;
	}

	.stars:nth-child(6) {
		background-position: -10% 40%;
		-webkit-animation-delay: 5s;
		animation-delay: 5s;
	}

	.stars:nth-child(7) {
		background-position: -50% 10%;
		-webkit-animation-delay: 6s;
		animation-delay: 6s;
	}

	.stars:nth-child(8) {
		background-position: 40% -30%;
		-webkit-animation-delay: 7s;
		animation-delay: 7s;
	}

	@-webkit-keyframes zoom {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}
		85% {
			opacity: 1;
			-webkit-transform: scale(2.8);
			transform: scale(2.8);
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(3.5);
			transform: scale(3.5);
		}
	}

	@keyframes zoom {
		0% {
			opacity: 0;
			-webkit-transform: scale(0.5);
			transform: scale(0.5);
			-webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
		}
		85% {
			opacity: 1;
			-webkit-transform: scale(2.8);
			transform: scale(2.8);
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(3.5);
			transform: scale(3.5);
		}
	}
</style>