<section class="gallery-section" id="gallery">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell medium-10 relative">
				<h2 class="text-center">Галерея</h2>
				<button class="gallery-arrow gallery-arrow--right">
					<svg width="35" height="35">
						<use xlink:href="#svg-arrow-right" />
					</svg>
				</button>
				<button class="gallery-arrow gallery-arrow--left">
					<svg width="35" height="35">
						<use xlink:href="#svg-arrow-left" />
					</svg>
				</button>
				<div class="gallery-container">
					<div class="gallery ">
						<div class="gallery-slider">
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-1.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-2.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-3.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-4.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-5.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-6.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-7.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-8.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-9.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-10.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-11.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-12.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-13.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-14.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-15.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-16.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-17.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-18.jpg"></div>
							<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-19.jpg"></div>
						</div>
					</div>
					<div class="gallery-nav">
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-1.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-2.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-3.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-4.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-5.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-6.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-7.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-8.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-9.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-10.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-11.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-12.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-13.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-14.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-15.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-16.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-17.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-18.jpg"></div>
						<div class="gallery-slide lazyload" data-bg="assets/img/gallery/image-19.jpg"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>