.connect {
	position: fixed;
	top: rem(80);
	z-index: 10;
	

	&.is-active {
		right: rem(40);
	}

	.button { 
		min-width: rem(170);
		font-size: rem(18);
		text-shadow: rgb(131, 88, 88) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px, rgb(255, 255, 255) 0px 0px 15px, rgb(255, 0, 222) 0px 0px 20px, rgb(255, 0, 222) 0px 0px 35px, rgb(255, 0, 222) 0px 0px 40px, rgb(255, 0, 222) 0px 0px 50px, rgb(255, 0, 222) 0px 0px 75px;
	}

	h4 {
		font-size: rem(23);
	}
}

.connect__cta-dropdown-phone {
	font-size: rem(18);
	font-weight: 600;
	text-align: center;
}

.connect-mobile {
	position: fixed;
	bottom: rem(50);
	&.is-active {
		right: rem(20);
	}
	z-index: 10;
	border-radius: 100%;
	background-color: $button-background;
	height: rem(70);
	width: rem(70);
	display: flex;
	align-items: center;
	justify-content: center;
	svg {
		fill: white;
	}
	box-shadow: 0px 0px 16px 0px rgba(240,240,240,1);
}

.mobile-form-modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-mobile__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.has-messages { 
	input {
		margin-bottom: 0;
	}
	
	.form-group {
		margin-bottom: rem(16);
		min-width: 100%;
		@include breakpoint(large) {
			min-width: 70%;
		}
	}

	.form-group.has-error {
		input {
			box-shadow: 0px 0px 6px 1px #ff3994;
		}

		.messages {
			color: #ff3994;
		}
	}
	
	.messages {
		margin-top: rem(5);
		padding-left: rem(16);
	}
}

.connect__cta-socials {
	margin-top: rem(15);
	
	p {
		font-weight: 600;
		margin-bottom: rem(15);
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		span {
			margin-top: rem(-10);
		}
	}
}

.connect__cta-socials-links {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.close-button, .close-button.medium {
	right: rem(10);
    top: rem(10);
    font-size: 4em;
	line-height: 1;
	@include breakpoint(medium) {
		top: 0;
	}
} 