header {
	opacity: 1!important;
	position: relative;
	background: linear-gradient(to bottom,#3b234a 0,#130f1f 100%);
	&:after {
		@extend .abs-full;
		content: '';
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
		z-index: 1;
	}
	background-position: 0 0;
	@extend .img-cover;
	color: #fff;

	height: rem(70);
	@include breakpoint(large) {
		height: rem(70);
	}
	background-color: #F4F4F4;
	position: fixed;
	width: 100%;
	z-index: 10;

	
	.cell {
		display: flex;
		align-items: center;
	}

	.grid-container {
		position: relative;
		z-index: 2;
	}
}


.header__title {
	font-size: rem(20);
	height: 100%;
	margin-right: rem(30);
	@include breakpoint(large) {
		min-width: rem(270);
		font-size: rem(25);
	}
	a, a:hover, a:focus, a:visited {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
		color: #b73bb6;
	}
	a {
		position: relative;
		width: 256px;
		display: block;
		height: 100%;
		svg {
			position: absolute;
			width: rem(323);
			height: rem(166);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.m-nav__controller {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	position: relative;
	width: rem(100);
}


.header__glasses {
	width: rem(70);
}

.header-phone {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.header-nav {
	text-shadow: 0 0 5px #835858, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	font-size: rem(18);
	@include breakpoint(medium) {
		width: 100%;
		display: flex;
		font-size: 1.4vw;
		@media (min-width: rem(1400)) {
			font-size: rem(18);
		}
	}
	a {
		color: #fff;
		font-weight: 600;
		
	}

	li {
		&:not(:last-child) {
			margin-right: rem(30);
		}
	}
}