header {
	position: relative;
	&:after {
		@extend .abs-full;
		content: '';
		// background-color: rgba(#fff, .2);
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
		z-index: 1;
	}
	background-image: url(../img/nightsky-header.jpg);
	background-position: 0 0;
	@extend .img-cover;
	color: #fff;

	height: rem(70);
	@include breakpoint(medium) {
		height: rem(100);
	}
	background-color: #F4F4F4;
	position: fixed;
	width: 100%;
	z-index: 10;

	
	.cell {
		display: flex;
		align-items: center;
	}

	.grid-container {
		position: relative;
		z-index: 2;
	}
}


.header__title {
	font-size: rem(30);
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	color: #b73bb6;
	margin-right: rem(30);
}

.m-nav__controller {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	position: relative;
	width: rem(100);
	// @include breakpoint(medium) {
	// 	display: none;
	// }
}


.header__glasses {
	width: rem(70);
}

.header-nav {
	text-shadow: 0 0 5px #835858, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
	font-size: rem(25);
	a {
		color: #fff;
		font-weight: 700;
	}

	li {
		&:not(:last-child) {
			margin-right: rem(30);
		}
	}
}