
// @font-face {
//     font-family: 'cormorantgaramond';
//     font-weight: 700;
//     src: url('../fonts/cormorantgaramond-bold-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
//          url('../fonts/cormorantgaramond-bold-webfont.woff') format('woff'), /* Safari, Android, iOS */
// }

// @font-face {
//     font-family: 'Open-sans';
//     font-weight: 700;
//     src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
//          url('../fonts/opensans-bold-webfont.woff') format('woff'), /* Safari, Android, iOS */
// }
// @font-face {
//     font-family: 'Open-sans';
//     font-weight: 400;
//     src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
//          url('../fonts/opensans-regular-webfont.woff') format('woff'), /* Safari, Android, iOS */
// }
// @font-face {
//     font-family: 'Open-sans';
//     font-weight: 100;
//     src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
//          url('../fonts/opensans-light-webfont.woff') format('woff'), /* Safari, Android, iOS */
// }

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/subset-OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$ff-main: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
// $ff-second: 'cormorantgaramond', 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$default-font-size: 16;