@mixin grayscale_element($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
  -moz-filter: #{"grayscale(#{$value})"};
  filter: #{"grayscale(#{$value})"};
}

.grayscale {
  @include grayscale_element(100%);
  transition: all 200ms ease-in-out;
  // &:hover {
  //     @include grayscale_element(0);
  // }
}

$browser-context: $default-font-size; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root("::-webkit-input-placeholder") {
    @content;
  }

  @include optional-at-root(":-moz-placeholder") {
    @content;
  }

  @include optional-at-root("::-moz-placeholder") {
    @content;
  }

  @include optional-at-root(":-ms-input-placeholder") {
    @content;
  }
}
// USAGE: NOW ADD IN CLASS
// @include placeholder {
//     font-style:italic;
//     color: white;
//     font-weight:100;
// }