<section class="about section" id="about">
	<div class="grid-container">
		<div class="grid-x grid-margin-x" itemprop="founder" itemscope itemtype="http://schema.org/Person">
			<div class="cell medium-5 large-4">
				<div class="about-person text-center">
					<picture>
						<source data-srcset="{{root}}assets/img/webp/miss-marge.webp">
						<img class="lazyload" data-src="{{root}}assets/img/miss-marge.png" alt="professor">
					</picture>
				</div>
			</div>
			<div class="cell medium-7 large-8">
				<h2>Давайте познакомимся</h2>
				<p>Я &mdash;&nbsp;
					<strong itemprop="name">
						<span itemprop="familyName">Ашляева</span>
						<span itemprop="givenName">Маржан</span>.</strong>
				</p>
				<p itemprop="description">&mdash;&nbsp;Окончила школу в&nbsp;
					<strong>США, El&nbsp;Diamante High School</strong>, Калифорния (по&nbsp;программе обмена для старшеклассников).
				</p>
				<p itemprop="description">&mdash;&nbsp;Магистратура:
					<strong>Амстердамский университет прикладных наук</strong>, Амстердам, Нидерланды.
				</p>
				<p itemprop="description">&mdash;&nbsp;На&nbsp;данный момент являюсь преподавателем английского языка в&nbsp;
					<strong>КазНУ им.&nbsp;Аль-Фараби</strong>.
				</p>
				<p itemprop="description">&mdash;&nbsp;Стаж преподавания
					<strong>более 7&nbsp;лет</strong>.
				</p>
				<p itemprop="description">&mdash;&nbsp;Преподаю
					<strong>все уровни английского языка</strong>: детям от&nbsp;4-х лет и&nbsp;до&nbsp;пенсионного возраста.
				</p>
				<p itemprop="description">&mdash;&nbsp;Работаю как в&nbsp;группе, так и&nbsp;
					<strong>индивидуально</strong>.
				</p>
				<p itemprop="description">&mdash;&nbsp;
					<strong>Подготовка</strong> к экзаменам:
					<strong>НИШ</strong>,
					<strong>IELTS</strong> ,
					<strong>TOEFL</strong> - договорная цена, зависит от уровня начальной подготовки клиента.
				</p>
			</div>
		</div>
	</div>
</section>