<section class="greeting section" id="greeting">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell large-10">
				<h1 class="text-center">
					<span itemprop="name">Sunglasses English</span>,
					<span itemprop="disambiguatingDescription"> учите
						<br/> английский в Алматы</span>
				</h1>
				<p class="lead" itemprop="description">Хотите выучить английский? Преодолеть языковой барьер? Подготовиться к экзаменам или интервью? Подтянуть грамматику легко и недорого, а главное качественно и у отличного преподавателя?</p>
				<p class="last-p" itemprop="description">Вы пришли по адресу! Курсы английского для детей, школьников, студентов и взрослых любого уровня, бизнес-английский, индивидуальные и групповые занятия, подготовка к поступлению в НИШ и магистратуру, подготовка к IELTS, TOEFL. Пройдите бесплатное тестирование у нас в центре и подберите удобное для Вас расписание.</p>
			</div>
		</div>
		<div class="grid-x grid-margin-x large-up-3 boxes">
			<div class="cell align">
				<div class="preparing --one">
					<div class="preparing-content">
						<div class="preparing-img">
							<img data-src="assets/img/nis.png" class="lazyload" alt="preparing to NIS">
						</div>
						<div class="preparing-info" itemprop="disambiguatingDescription">Подготовка к НИШ</div>
					</div>
				</div>
			</div>
			<div class="cell align">
				<div class="preparing --two">
					<div class="preparing-content">
						<div class="preparing-img">
							<img data-src="assets/img/ielts.png" class="lazyload" alt="preparing to IELTS">
						</div>
						<div class="preparing-info" itemprop="disambiguatingDescription">Подготовка к IELTS</div>
					</div>
				</div>
			</div>
			<div class="cell align">
				<div class="preparing --three">
					<div class="preparing-content">
						<div class="preparing-img">
							<img data-src="assets/img/toefl.png" class="lazyload" alt="preparing to TOEFL">
						</div>
						<div class="preparing-info" itemprop="disambiguatingDescription">Подготовка к TOEFL</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>