<div class="connect__cta-socials">
	<p class="text-center">Или напишите мне</p>
	<div class="connect__cta-socials-links">
		<a href="https://api.whatsapp.com/send?phone=77003030692&text=Здравствуйте! Я пишу с Вашего сайта english-teacher.kz, хочу обсудить некоторые детали.">
			<svg width="55" height="55">
				<use xlink:href="#svg-wtsp" />
			</svg>
			Whatsapp
		</a>
		<a href="https://t.me/ginntonnik">
			<svg width="70" height="70">
				<use xlink:href="#svg-tg" />
			</svg>
			<span>Telegram</span>
		</a>
	</div>
</div>