<header class="lazyload" data-bg="assets/img/nightsky-header-s.jpg">
	<div class="grid-container full-height">
		<div class="grid-x grid-margin-x full-height">
			<div class="cell small-6 medium-2 large-1">
				<a href="#hero" class="hero-logo">
					<img data-src="assets/img/sunglasses-cut-90-m.png" class="header__glasses lazyload" alt="header logo">
				</a>
			</div>
			<div class="cell large-11 medium-10 show-for-medium">
				<div class="ff-s header__title">
					<a href="#greeting">
						Sunglasses English
					</a>
				</div>
				<nav class="header-nav">
					<ul class="menu-x">
						<li>
							<a href="#about">Обо мне</a>
						</li>
						<li>
							<a href="#gallery">Галерея</a>
						</li>
						<li>
							<a href="#prices">Тарифы</a>
						</li>
						<li>
							<a href="#contacts">Контакты</a>
						</li>

					</ul>
					<div class="header-phone show-for-medium">
						<a href="tel:+77003030692">+7 (700) 3030692</a>
					</div>
				</nav>
			</div>
			<div class="cell small-6 align-right hide-for-medium">
				<div class="m-nav__controller">
					<span id="main-nav-ctrl" class="main-nav-ctrl" data-toggle="offCanvas">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</span>
					<div class=" header__open-handler">Меню</div>
					<div class=" header__close-handler">Закрыть</div>
				</div>
			</div>
		</div>

	</div>
</header>