<header>
	<div class="grid-container full-height">
		<div class="grid-x grid-margin-x full-height">
			<div class="cell small-6 medium-4 large-1">
				<img class="header__glasses" src="assets/img/sunglasses-cut.png" alt="">
			</div>
			<div class="cell large-11 show-for-large">
				<div class="ff-s --pink header__title">
					Sunglasses English
				</div>
			</div>
			<div class="cell small-6 align-right hide-for-large">
				<div class="m-nav__controller">
					<span id="main-nav-ctrl" class="main-nav-ctrl" data-toggle="offCanvas">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</span>
					<div class=" header__open-handler">Меню</div>
					<div class=" header__close-handler">Закрыть</div>
				</div>
			</div>
		</div>

	</div>
</header>