<div class="off-canvas position-left lazyload" id="offCanvas" data-off-canvas data-transition="overlap" data-bg="assets/img/nightsky-header-s.jpg">
	<nav class="mobile-menu">
		<ul class="menu-y">
			<li>
				<a href="#about">Обо мне</a>
			</li>
			<li>
				<a href="#gallery">Галерея</a>
			</li>
			<li>
				<a href="#prices">Тарифы</a>
			</li>
			<li>
				<a href="#contacts">Контакты</a>
			</li>
		</ul>
		<div class="mobile-menu__phone">
			<a href="tel:+77003030692">+7 (700) 3030692</a>
		</div>
	</nav>
</div>