<section class="pitch lazyload" data-bg="assets/img/grass.jpg">
	<div class="grid-container">
		<div class="grid-x margin-x align-center">
			<div class="cell large-10">
				<p class="last-p show-for-medium" itemprop="description">
					<em><strong>Преподавание</strong> - это моя страсть, это то что я делаю с <em>горящим сердцем</em>, вкладывая в процесс всю себя.
					Каждый ученик принимает информацию по-своему, голова каждого это лабиринт со множеством дверей и поворотов. 
					<br> Когда информация теряется в этом лабиринте, человек не получает её в полной мере, в фундаменте знаний образуются пробелы, из-за чего он теряет интерес и мотивацию к изучению.
					Мне безумно нравится подбирать ключ к этому лабиринту и убеждаться, что ученик усвоил весь мой материал и не потерял ни капли информации.
					<br>Многие из моих учеников уже успешно сдали <strong>IELTS</strong> и учатся за границей или получили работу в иностранных компаниях. Дети в восторге от моих занятий, а уж со взрослыми мне очень просто найти общий язык.</em>
				</p>
				<p class="text-center"><strong><u>Вам стоит мне позвонить.</u></strong> </p>
				<p><em>Я не просто хорошо знаю язык, я лингвист-педагог по образованию, я знаю тонкости в обучении, которых могут не знать простые носители, я знаю нашу ментальность, которую могут не знать простые носители. Поэтому <strong>гарантирую</strong>, что заниматься со мной <strong>ЛУЧШЕ ЧЕМ С НОСИТЕЛЕМ</strong>.</em></p>
				<picture>
					<source data-srcset="{{root}}assets/img/webp/onthegrass-tiny.webp">
					<img class="lazyload" data-src="{{root}}assets/img/onthegrass-tiny.png" alt="teacher with kids">
				</picture>
			</div>
		</div>
</section>