<section class="section" id="prices">
	<div class="grid-container">
		<h2 class="text-center">Тарифы*</h2>
		<div class="grid-x grid-margin-x medium-up-2 large-up-3 align-center">
			<div class="cell">
				<div class="price-card lazyload" data-bg="assets/img/heman.jpg">
					<h3 class="text-center">Тариф
						<strong>Детский</strong>
					</h3>
					<div class="price-card__age">От 7 до 17 лет</div>
					<div class="price-card__units">
						<span class="price-card__freq">2 раза в неделю</span>
						<span>14500/мес.</span>
					</div>
					<div class="price-card__units">
						<span class="price-card__freq">3 раза в неделю</span>
						<span>16000/мес.</span>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="price-card lazyload" data-bg="assets/img/ghost.jpg">
					<h3 class="text-center">Тариф
						<strong>Cтуденческий</strong>
					</h3>
					<div class="price-card__age">От 18 до 21</div>
					<div class="price-card__units">
						<span class="price-card__freq">2 раза в неделю</span>
						<span>16000/мес.</span>
					</div>
					<div class="price-card__units">
						<span class="price-card__freq">3 раза в неделю</span>
						<span>17500/мес.</span>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="price-card lazyload" data-bg="assets/img/david.jpg">
					<h3 class="text-center">Тариф
						<strong>Взрослый</strong>
					</h3>
					<div class="price-card__age">Старше 21</div>
					<div class="price-card__units">
						<span class="price-card__freq">2 раза в неделю</span>
						<span>18000/мес.</span>
					</div>
					<div class="price-card__units">
						<span class="price-card__freq">3 раза в неделю</span>
						<span>19500/мес.</span>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="price-card actual lazyload" data-bg="assets/img/swars.jpg">
					<h3 class="text-center">
						Репетиторство
						<strong>(индивидуальные занятия)</strong>
					</h3>
					<div class="price-card__units">
						<span>4500/час.</span>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="price-card lazyload" data-bg="assets/img/tanos.jpg">
					<h3 class="text-center">Тариф
						<strong>Малыш</strong>
					</h3>
					<div class="price-card__age">Детям от 4 до 6 лет групповые занятия идут комплексно (изучение английского через игры, песни, стихи, творчество) по 90 минут (с переменками).</div>
					<div class="price-card__units">
						<span class="price-card__freq">3 раза в неделю</span>
						<span>19000/мес.</span>
					</div>
				</div>
			</div>
		</div>
		<!-- <span>* - Групповые занятия (до 8 человек в группе) длятся по 80 минут</span> -->
		<span><strong>* - На данный момент из-за беремености я не могу вести групповые занятия, поэтому в тарифах доступны только индивидуальные занятия, в которые так же входят подготовка к IELTS/TOEFL/NIS. 
			<br>Надеюсь на Ваше понимание, большое спасибо!
		</strong> </span>
	</div>
</section>