<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Sunglasses English">
  <meta property="og:title" content="Sunglasses English Алматы выучить английский все уровни курсы репетитор подготовка НИШ IELTS TOEFL">
  <meta property="og:url" content="http://english-teacher.kz/ ">
  <meta property="og:locale" content="ru_RU ">
  <meta property="vk:image" content="assets/img/og-protocol-l.jpg ">
  <meta property="og:image" content="assets/img/og-protocol-l.jpg ">


  <meta name="msapplication-TileColor " content="#ffffff ">
  <meta name="msapplication-TileImage " content="/ms-icon-144x144.png ">
  <meta name="theme-color " content="#ffffff ">

  <meta name="yandex-verification" content="db759562d3ee4621" />
  <meta name="google-site-verification" content="jQN6FnHa1Arb8BFP-QcVM88-sBdFXegf64MCFHtjFxc" />
  <meta name='wmail-verification' content='8f6f19f27edf4fabe249c6527ca0b697' />

  <title>Sunglasses English Алматы, выучить английский, все уровни, курсы, репетитор, подготовка - НИШ IELTS TOEFL</title>
  <meta name="description" content="Ищите курсы английского языка? Нужен хороший репетитор английского? Хотите подготовиться к экзамену IELTS, TOEFL или НИШ? Изучайте английский под руководством профессионального лингвиста-педагога со степенью магистра Амстердамского университета прикладных наук - Ашляевой Маржан!" />
  <meta name="Keywords" content="английский, english, алматы, learn, изучить, подготовка, IELTS, TOEFL, NIS, НИШ, айлс, айлтс, аелтс, айылс, тойфл, sunglasses english, выучить, учиться, легко, курсы, быстро, репетитор, заниматься, профессионал, сдать экзамен" />

  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favs.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favs.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favs.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favs.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favs.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favs.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favs.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favs.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favs.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favs.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favs.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favs.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favs.ico/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favs.ico/manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;subset=cyrillic" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123160290-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123160290-1');
  </script>


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter49440283 = new Ya.Metrika2({
            id: 49440283,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
          });
        } catch (e) { }
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/49440283" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  {{> critical-css}} {{> critical-js}}

</head>

<body itemscope itemtype="http://schema.org/EducationalOrganization">

  <div class="visuallyhidden ">
    {{> svg-items}}
  </div>
  {{> preloader}} {{> header}}
  <div class="wrapper off-canvas-wrapper ">
    {{> off-canvas}}
    <div class="off-canvas-content" data-off-canvas-content>
      {{> body}}
    </div>
    {{> footer}}
  </div>


</body>

<script defer src="{{root}}assets/js/app.js"></script>
<link rel="stylesheet" href="{{root}}assets/css/app.css">

</html>