<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sunglasses English">
    <meta property="og:title" content="Sunglasses English Алматы выучить английский все уровни курсы репетитор подготовка НИШ IELTS TOEFL">
    <meta property="og:url" content="http://english-teacher.kz/">
    <meta property="og:locale" content="ru_RU">
    <meta property="vk:image" content="assets/img/og-protocol-l.jpg">
    <meta property="og:image" content="assets/img/og-protocol-l.jpg">


    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="yandex-verification" content="db759562d3ee4621" />
    <meta name="google-site-verification" content="jQN6FnHa1Arb8BFP-QcVM88-sBdFXegf64MCFHtjFxc" />
    <meta name='wmail-verification' content='8f6f19f27edf4fabe249c6527ca0b697' />

    <title>Sunglasses English | Курсы английского языка в Алматы, репетитор, подготовка к IELTS, НИШ, TOEFL</title>
    <meta name="description" content="Лучше чем с носителем! Профессиональный лингвист-педагог со степенью магистра Амстердамского университета прикладных наук - Ашляева Маржан." />
    <meta name="Keywords" content="английский, english, алматы, learn, учить, интервью, подготовка, IELTS, TOEFL, NIS, НИШ, sunglasses english, курсы, репетитор, сдать экзамен" />

    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favs.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favs.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favs.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favs.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favs.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favs.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favs.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favs.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favs.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favs.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favs.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favs.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favs.ico/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favs.ico/manifest.json">

    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&amp;subset=cyrillic" rel="stylesheet">  -->
    {{> critical-css}}
    {{> critical-js}}
  </head>

  <body itemscope itemtype="http://schema.org/EducationalOrganization">

    <div class="visuallyhidden">
      {{> svg-items}}
    </div>
    {{> header}}
    <div class="wrapper off-canvas-wrapper">
      {{> off-canvas}}
      <div class="off-canvas-content" data-off-canvas-content>
        {{> body}}
      </div>
      {{> footer}}
    </div>
  </body>


  <!-- <link rel="stylesheet" href="{{root}}assets/css/app.css"> -->
  <!-- <link rel="preload" href="{{root}}assets/css/pure/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> -->
  <link rel="preload" href="{{root}}assets/css/app.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <!-- <script>
    function loadCSS(e, t, n) { "use strict"; function o() { var t; for (var i = 0; i < s.length; i++) { if (s[i].href && s[i].href.indexOf(e) > -1) { t = true } } if (t) { r.media = n || "all" } else { setTimeout(o) } } var r = window.document.createElement("link"); var i = t || window.document.getElementsByTagName("script")[0]; var s = window.document.styleSheets; r.rel = "stylesheet"; r.href = e; r.media = "only x"; i.parentNode.insertBefore(r, i); o(); return r }
    loadCSS('/assets/css/pure/app.css');
  </script> -->
  <!-- <script>
    (function (window, document) {
      'use strict';

      var isModernBrowser = (
        'querySelector' in document &&
        'localStorage' in window &&
        'addEventListener' in window
      ),
        md5 = 'c30fbfe15c08222c4c4e0adec68dd201',
        key = 'fonts',
        cache;

      if (!isModernBrowser) {
        // Sorry, browser is too old!
        return;
      }

      function insertFont(value) {
        var style = document.createElement('style');
        style.innerHTML = value;
        document.head.appendChild(style);
      }

      // PRE-RENDER
      try {
        cache = window.localStorage.getItem(key);
        if (cache) {
          cache = JSON.parse(cache);
          if (cache.md5 == md5) {
            insertFont(cache.value);
          } else {
            // Busting cache when md5 doesn't match
            window.localStorage.removeItem(key);
            cache = null;
          }
        }
      } catch (e) {
        // Most likely LocalStorage disabled, so hopeless...
        return;
      }

      // POST-RENDER
      if (!cache) {
        window.addEventListener('load', function () {
          var request = new XMLHttpRequest(),
            response;
          request.open('GET', '/assets/fonts/fonts.c30fbfe15c08222c4c4e0adec68dd201.woff.json', true);
          request.onload = function () {
            if (this.status == 200) {
              try {
                response = JSON.parse(this.response);
                insertFont(response.value);
                window.localStorage.setItem(key, this.response);
              } catch (e) {
                // LocalStorage is probably full
              }
            }
          };
          request.send();
        });
      }
    })(window, document);
  </script> -->
  <script defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script defer src="{{root}}assets/js/app.js"></script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-123160290-1"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123160290-1');
  </script>


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter49440283 = new Ya.Metrika2({
            id: 49440283,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
          });
        } catch (e) { }
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/49440283" style="position:absolute; left:-9999px;" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

</html>