<section class="programs section" id="programs">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center">
			<div class="cell">
				<h2 class="text-center">
					Программы
				</h2>
				<div class="grid-x grid-margin-x large-up-2 align-center show-for-large">
					<div class="cell">
						<div class="adv-item">
							{{> ai-1-header}} {{> ai-1-body}}
						</div>
					</div>
					<div class="cell">
						<div class="adv-item">
							{{> ai-2-header}} {{> ai-2-body}}
						</div>
					</div>
					<div class="cell">
						<div class="adv-item">
							{{> ai-3-header}} {{> ai-3-body}}
						</div>
					</div>
					<div class="cell">
						<div class="adv-item">
							{{> ai-4-header}} {{> ai-4-body}}
						</div>
					</div>
					<div class="cell">
						<div class="adv-item">
							{{> ai-5-header}} {{> ai-5-body}}
						</div>
					</div>

				</div>
			</div>

			<div class="cell medium-9 hide-for-large">
				<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
					<li class="accordion-item" data-accordion-item>
						<a href="#deeplink1" class="accordion-title">
							{{> ai-1-header}}
						</a>
						<div class="accordion-content" data-tab-content id="deeplink1">
							{{> ai-1-body}}
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">
							{{> ai-2-header}}
						</a>
						<div class="accordion-content" data-tab-content>
							{{> ai-2-body}}
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">
							{{> ai-3-header}}
						</a>
						<div class="accordion-content" data-tab-content>
							{{> ai-3-body}}
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">
							{{> ai-4-header}}
						</a>
						<div class="accordion-content" data-tab-content>
							{{> ai-4-body}}
						</div>
					</li>
					<li class="accordion-item" data-accordion-item>
						<a href="#" class="accordion-title">
							{{> ai-5-header}}
						</a>
						<div class="accordion-content" data-tab-content>
							{{> ai-5-body}}
						</div>
					</li>

				</ul>
			</div>

		</div>
	</div>
</section>